.App {
  font-family: sans-serif;
  text-align: center;
  
}
.Header-List{
  text-align: center;
  margin-top: 20px;
}


/* .user {
  display: flex;
  width: 1200px;
  justify-content:space-between;
} */

.header{
  margin-top:70px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
}

.buttonStyles-edit:hover {
  color: rgb(1, 112, 34);
  border-color:rgb(1, 112, 34);
  font-weight: 700; 
  margin-right: 20px;
}
.buttonStyles-save:hover {
  color: white;
  border-color:rgb(0, 0, 0);
  font-weight: 700; 

}

.buttonStyles-delete:hover {
  color: red;
  border-color: red;
  font-weight: 700; 
}